div.image {
    max-width: 40%;
    margin: auto;
}

.scrollable {
    overflow-y: auto  !important;
    overflow-x: hidden !important;
    height: 800px;
}

.mermaid svg {
    max-width: 100%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
}